/* === STRIPPING === */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* === GOOGLE FONT IMPORT === */

@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Teko:wght@700&display=swap");

/* === LOGO ANIMATION SETUP === */

@keyframes logoAnimation {
  0% {
    letter-spacing: normal;
  }

  20%,
  40%,
  60%,
  80% {
    letter-spacing: 0.1em;
  }

  100% {
    letter-spacing: normal;
  }
}

/* === GLOBAL STYLING === */

.wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  background: url(./images/crossedStripes.png);
  font-size: 2.4rem;
  color: whitesmoke;
  text-shadow: 0 0 5px #000;
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
}

/* === LOGO === */

.logoName {
  animation: logoAnimation 1.5s ease-in-out 1s both;
}

h1,
h2,
h3 {
  margin: 8px 0;
  text-align: center;
}

h1 {
  color: rgb(132, 40, 245);
  font-size: 10rem;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 7px black;
  margin-top: 32px;
}

/* === FORM === */

.tipApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto;
}

.tipApp .icon {
  color: rgb(192, 255, 51);
  margin-left: 8px;
}

.heart {
  color: rgb(247, 31, 96);
  margin-left: 6px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
  max-width: 480px;
}

label {
  padding-bottom: 2px;
}

input[type="text"],
input[type="number"] {
  background: transparent;
  border: 2px solid white;
  font-size: 2rem;
  padding: 4px 8px;
  border-radius: 6px;
  color: rgb(192, 255, 51);
  font-family: "Quicksand", sans-serif;
}

input::placeholder {
  color: #999;
}

.buttonContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.formButton {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
  padding: 25px 50px;
  color: rgb(192, 255, 51);
  background-color: rgb(132, 40, 245);
  border: none;
  position: relative;
  top: 0;
  border-radius: 5px;
  box-shadow: 0 10px 0 rgb(79, 25, 145);
  transition: all 0.2s;
}

.formButton:hover {
  letter-spacing: 4px;
}

.formButton:focus-visible,
.formButton:active {
  top: 5px;
  box-shadow: 0 5px 0 rgb(79, 25, 145);
}

.totalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.totalContainer p {
  font-size: 3rem;
  color: #999;
}

.totalContainer p:nth-child(2) {
  font-size: 4rem;
  color: #C0FF33;
}

/* === PAST LIST ITEMS === */

.dataHeader {
  margin-top: 150px;
}

.dataHeader span {
  border-bottom: 3px solid rgb(192, 255, 51);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

ul li {
  border: 3px solid rgb(132, 40, 245);
  width: 420px;
  padding: 40px 0;
  margin: 20px;
  border-radius: 6px;
  text-align: center;
  list-style: none;
  position: relative;
}

ul li p {
  padding: 10px;
}

.remove {
  border: none;
  background: none;
  font-size: 2rem;
  text-shadow: 0 0 3px black;
  color: whitesmoke;
  position: absolute;
  top: 6px;
  right: 2px;
  transition: all 0.1s;
}

.remove:focus,
.remove:hover {
  color: red;
  text-shadow: 0 0 1px black;
}
